<div class="container">
  <div class="row">
    <div class="col">
      <h3>The Motive</h3>
      <p>
        Finding playlists by other users on Spotify is difficult unless you
        specifically search for a particular user's playlist or account. Music
        BYTE allows you to easily discover various public playlists and branch
        out to different types of music by recommending content based on your
        top songs, artists, and genres from your Spotify profile. Unlike
        Spotify's recommendation page, which recommend playlists and radio
        content created by Spotify itself, Music BTYE mainly recommends
        public playlists created by other users.
      </p>
    </div>
  </div>

  <div class="row pt-5 pb-5">
      <div class="col">
          <h3>Contact Me</h3>
          <p>If you are experiencing any bugs or would like to suggest improvements or new features, don't hesitate to email me at brewprojects@gmail.com. Any feedback is greatly appreciated!</p>
      </div>
  </div>
</div>
